body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
  
.emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
}
  
.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
}
  
.emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}
  
.icon {
    font-size: 4rem;
}
/* Ends of basic setting */


/* use grid to layout emoji cards */
.emojis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "eyes beer"
    "joy seedling"
    ;
}

.emoji:nth-child(1) {
    grid-area: eyes;
}

.emoji:nth-child(2) {
    grid-area: beer;
}

.emoji:nth-child(3) {
    grid-area: joy;
}

.emoji:nth-child(4) {
    grid-area: seedling;
}

/* use flex box to layout the content of emoji cards */
.emoji {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
}

.emoji .icon {
    order: -1;
}

/* grow P tag to make sure the button stay at the bottom */
.emoji p {
    flex-grow: 1;
}

/* use align-self to stretch button at the cross-axis direction */
.emoji a {
    align-self: stretch;
}

/* use flex-start to pin the title on the left, and use stretch to stretch the bottom line*/
.emoji h2 {
    align-self: flex-start;
    align-self: stretch;
}
